h1, h2, h3, h4, h5, h6 {
    font-family: 'Belgrano', Georgia, 'Times New Roman', Times, serif;
    color: #444;
    font-size: 100%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h1 {
    margin-bottom: 1em;
}

p {
    margin: 1em 0;
}

nav a:visited {
  color: grey;
}

nav a:hover {
  color: black;
}

nav {
//  border: solid;
  color: #aaa;
  margin: 0 auto 2em auto;
  padding: 0;
  text-align: right;
  font-family: inconsolata;
}

nav ul{
  margin: 0;
}
nav li {
  display: inline;
}

body {
  width: 600px;
  margin: 2em auto 2em auto;
  text-align: center;
  background-color: white;
  font: 14px inconsolata, helvetica, arial, clean, sans-serif;
  *font-size: small;
  //border: solid;
}

article{
  color: #444;
  text-align: justify;
}

section {
  margin: 2em auto 10em auto;
  text-align: justify;
}

footer, footer a {
//  border: solid;
  margin: 0 auto 2em auto;
  padding: 0;
  text-align: center;
  color: #333;
  font-size: 10px;
}

footer a:visited {
  color: #333;
}


div.social li {
  display: inline;
}

.extra-info {
  font-size: 10px;
  color: grey;
 }

pre {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 20px 0;
  margin: 15px 0;
  font-weight: normal
}